{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>views</title>
    <link rel="stylesheet" href="{% static 'css/viewsStyle.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="root">
        <div class="row nav-bar">
            <div class="col-md-3">
                <img class="logo-img" src="{% static 'images/imgbin_logo-circlr-redmi-5-xiaomi-png.png' %}" alt="logo-image">
                <h6 class="logo-text pt-3 ">MyShopy</h6>
            </div>
            <div class="col-md-6 ">
                </div>
            <div class="col-md-3 pt-3">
                <img class="cart_img pr-1" src="{% static 'images/icons8-fast-cart-64.png' %}" alt="cart_image">
                <h6 class="cart-text pt-2 pr-2">Cart</h6>
    
                <img class="user_img mr-5 mt-1" src="{% static 'images/icons8-change-user-50.png' %}" alt="cart_image">
                <h6 class="cart-text pt-2 pr-2">User</h6>
                
            </div>
        </div>
        <div class="row">
            <div class="col-m-6 col-lg-6 item-center">
            
                <div class="col-12 pl-5 pt-5">

                    <img class="ml-5" src="{% static 'images/placeholder.png' %}" alt="tshirt_image" width="350px">
                </div>
            </div>
            <div class="col-m-6 col-lg-6">
                <div class="row">
                    <div class="col-12 pt-5"><spam class="text_info">Boys Printed Pure Cotton T Shirt</spam></div>
                    <div class="col-12 pt-1"><spam class="text_info">Rs. 1059</spam><spam class="pl-2 offer_info">23% off</spam></div>
                    <div class="col-12 pt-2"><spam class="product_left">Hurry, 8 only left</spam></div>
                    <div class="col-12 pt-5"><span class="product_detail">Product Details</span></div>
                    <div class="col-12">
                        <ul>
                            <li>slip fit</li>
                            <li>Half sleeve</li>
                            <li>Care Instructions: Hand Wash Only</li>
                        </ul>
                    </div>
                
                </div>
                <div class="row pt-5">
                    <div class="col-m-6"><button type="button" class="btn btn-danger btn-add_Cart">ADD TO CART</button></div>
                    <div class="col-m-6 pl-3"><button type="button" class="btn btn-success btn-buy_now">BUY NOW</button></div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>