@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@300&family=Roboto:wght@100&family=Vibur&family=Voces&display=swap');
.root{
    margin:0;
    padding:0;

}
.ad-text{
    font-family: 'Voces', cursive;
font-style: normal;
font-weight: normal;
font-size: 15.5px;
line-height: 25px;
letter-spacing: 0.05em;
color: #FFFFFF;
}
.sub-navbar{
    background: #C7003D;
}
.nav-bar{
left: 0%;
right: 0%;
top: 8.33%;
background: #E40046;
}
.logo-img{
float: left;
border-radius: 20.5px;
width:82px;
height:80.57px;
filter: brightness(4.5);

}
.logo-text{
    font-family: 'Vibur', cursive;
font-style: normal;
font-weight: normal;
font-size: 34.5px;
line-height: 49px;
letter-spacing: 0.05em;
float: left;
color: #FFFFFF;
}
.cart_img {
    float: right;
    width: 36px;
    height: 36px;
    filter: brightness(13.5) drop-shadow(2px 4px 29px black);
}
.cart-text{
    float: right;
    color: #ffff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 19px;
}
.user_img{
    float: right;
    width: 27px;
    height: 27px;
}

li{
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 200;
font-size: 22px;
line-height: 26px;
color: #000000;
cursor: pointer;
}
.pages .page{
    display: none;

}
.pages .page.is-active{
    display: flex;
}
.amt-text{
    float: right;
    padding-top: 32px;
    font-weight: bolder;
}

